@use "sass:math";
@import "_reset";
@import "_common";
@import "_functions";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:regular,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Overpass:700&display=swap");

// variables =======================================================
:root {
	--colorMain: #6257fe;
	----colorMainA: #6257fecc;
	--colorAccent: #100c46;
	--colorAccentA: #100c46cc;
	--colorWhite: #ffffff;
	--colorWhiteAlpha: #ffffffcc;
	--colorForForms: #f4f3ff;
}
//=======================================================
body {
	font-family: "Open Sans", sans-serif;
	font-size: rem(20);
	line-height: math.div(32, 20); //160%; /* 32/20 */
	font-weight: 400;
	color: var(--colorWhite);
	opacity: 0;
	transition: opacity 500ms;
	&.loaded {
		opacity: 1;
	}
}
.wrapper {
	overflow: clip;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	& > main {
		flex-grow: 1;
	}
}
[class*="__container"] {
	padding: 0 rem(85);
	margin: 0 auto;
	@media (max-width: em(1200)) {
		padding: 0 rem(15);
	}
}
// reusable =======================================================
.header-block {
	& > *:not(:last-child) {
		margin-bottom: rem(7);
	}
	// .header-block__eyebrow
	&__eyebrow {
		font-size: rem(16);
		line-height: math.div(22, 16); //137.5%; /* 22/16 */
		color: var(--colorMain);
	}
	// .header-block__title
	&__title {
		font-family: "Overpass";
		font-weight: 700;
		font-size: rem(56);
		line-height: 1.26; /* 71/56 */
		color: var(--colorAccent);
	}
	// modificator
	&_center {
		text-align: center;
	}
	@media (max-width: em(590)) {
		&__title {
			font-size: rem(44);
		}
	}
	@media (max-width: em(480)) {
		& {
			font-size: rem(38);
		}
	}
	@media (max-width: em(380)) {
		& {
			&__title {
				font-size: rem(32);
			}
		}
	}
}
.button {
	display: inline-block;
	background-color: var(--colorWhite);
	box-shadow: 0px rem(10) rem(50) rgba(0, 0, 0, 0.3);
	border-radius: rem(3);
	padding: rem(19) rem(46);
	transition: all 300ms;
	//text
	font-weight: 600;
	font-size: rem(18);
	line-height: 1.78;
	color: var(--colorAccent);
	text-transform: capitalize;
	//hover
	@media (any-hover: hover) {
		&:hover {
			background-color: var(--colorAccent);
			color: var(--colorWhite);
		}
		&:active {
			background-color: var(--colorAccentA);
		}
	}
	// modificator
	&_dark {
		background-color: var(--colorMain);
		color: var(--colorWhite);
		box-shadow: 0px rem(10) rem(30) 0px var(--colorAccentA);
		//hover
		@media (any-hover: hover) {
			&:hover {
				background-color: var(--colorWhite);
				color: var(--colorAccent);
				box-shadow: 0px rem(10) rem(50) rgba(0, 0, 0, 0.3);
			}
		}
	}
	@media (max-width: em(460)) {
		& {
			padding: rem(10) rem(46);
		}
	}
}
.text {
	& > *:not(:last-child) {
		margin-bottom: rem(30);
	}
	@media (max-width: em(500)) {
		font-size: rem(16);
		& > *:not(:last-child) {
			margin-bottom: rem(10);
		}
	}
}
// header =======================================================
.header {
	position: absolute;
	z-index: 50;
	top: 0;
	left: 0;
	width: 100%;
	padding: rem(17) rem(0) rem(17) rem(19);
	// .header__logo
	&__logo {
		img {
			max-width: 100%;
		}
	}
	// .header__socials
	&__socials {
	}
	@media (max-width: em(1200)) {
		padding: rem(10) rem(0) rem(10) rem(15);
	}
}
.socials-header {
	position: fixed;
	top: 0;
	right: 0;
	background-color: var(--colorMain);
	// .socials-header__list
	&__list {
		display: flex;
		align-items: center;
		padding: rem(22);
		column-gap: rem(25);
	}
	// .socials-header__item
	&__item {
		max-height: rem(21);
	}
	// .socials-header__link
	&__link {
		display: inline-block;
		max-height: rem(21);
	}
	// .socials-header__icon
	&__icon {
		max-width: 100%;
	}
	@media (max-width: em(767.98)) {
		.socials-header__list {
			padding: rem(15);
			column-gap: rem(15);
		}
	}
}
// intro =======================================================
.page {
	// .page__section
	&__section {
	}
}
.intro {
	background-color: var(--colorMain);
	// .intro__container
	&__container {
		min-height: 100vh;
		display: flex;
		@media (max-width: em(767.98)) {
			flex-direction: column;
		}
	}
	// .intro__body
	&__body {
		padding-top: rem(90);
		padding-bottom: rem(15);
		flex: 0 1 40.15748%; /* 510/1270 */
		align-self: center;
		@media (max-width: em(767.98)) {
			padding-top: rem(75);
			&:not(:last-child) {
				margin-bottom: rem(30);
			}
		}
	}
	// .intro__image
	&__image {
		flex: 1 1 auto;
		position: relative;
		margin-right: rem(-85);
		@media (max-width: em(767.98)) {
			margin-left: rem(-15);
			margin-right: rem(-15);
		}
		img {
			max-width: 100%;
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
	}
}
.body-intro {
	// .body-intro__header
	& > *:not(:last-child) {
		margin-bottom: rem(30);
	}
	padding-right: 8.819444%; /* 127/1440 */
	@media (max-width: em(991.98)) {
		& {
			padding-right: rem(20);
		}
	}
	@media (max-width: em(767.98)) {
		& {
			padding-right: rem(0);
			padding-bottom: 0;
		}
	}
	&__header {
		.header-block__eyebrow,
		.header-block__title {
			color: var(--colorWhite);
		}
	}
	// .body-intro__text
	&__text {
		&:not(:last-child) {
			margin-bottom: rem(67);
		}
	}
	// .body-intro__button
	&__button {
	}
	@media (max-width: em(767.98)) {
		& > *:not(:last-child) {
			margin-bottom: rem(15);
		}
		&__text {
			&:not(:last-child) {
				margin-bottom: rem(20);
			}
		}
		&__button {
			text-align: center;
			width: 100%;
		}
	}
}
// about =======================================================
.about {
	// .about__container
	&__container {
		padding-top: rem(141);
		padding-bottom: rem(141);
		display: flex;
		align-items: center;
		position: relative;
		&::after {
			content: "";
			z-index: -1;
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 50%; /* 635/1270 */
			background-color: var(--colorAccent);
		}
	}
	// .about__body
	&__body {
		& > *:not(:last-child) {
			margin-bottom: rem(15);
		}
		flex: 0 1 50%; /* 635/1270 */
		padding-right: 12.519685%; /* 159/1270 */
	}
	// .about__image
	&__image {
		flex: 1 1 auto;
		position: relative;
		padding-bottom: rem(603);
		margin-left: -8.897638%; /* 113/1270 */
		img {
			position: absolute;
			top: 0;
			left: 0;
			max-width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}
// media query
@media (max-width: em(991.98)) {
	.about {
		background-color: var(--colorAccent);
	}
	.about__container {
		flex-direction: column;
		padding-top: rem(50);
		padding-bottom: rem(0);
		&::after {
			display: none;
		}
		& > *:not(:last-child) {
			margin-bottom: rem(30);
		}
	}
	.about__body {
		flex-basis: 100%;
		padding-right: 0;
	}
	.about__image {
		width: 100vw;
		padding: 0;
		padding-bottom: 80.614973%; /* 603/748 */
		margin: 0;
		img {
			width: 100%;
		}
	}
}
.body-about {
	// .body-about__header
	&__header {
	}
	// .body-about__text
	&__text {
	}
	.header-block {
		// .header-block__eyebrow
		&__eyebrow {
			color: var(--colorMain);
		}
		// .header-block__title
		&__title {
			color: var(--colorMain);
		}
	}
}
// services =======================================================
.services {
	// .services__container
	&__container {
		display: flex;
		position: relative;
		padding-top: 8.333333%; /* 120/1440 */
		padding-bottom: 8.333333%;
		&::after {
			content: "";
			height: 100%;
			width: 200vw;
			position: absolute;
			top: 0;
			left: 0;
			left: 58.680556%; /* 845/1440 */
			background-color: var(--colorMain);
			z-index: -1;
		}
	}
	// .services__body
	&__body {
		align-self: center;
		flex: 0 0 54.80315%; /* 696/1270 */
		padding-right: rem(40);
		& > *:not(:last-child) {
			margin-bottom: rem(70);
			@media (max-width: em(991.98)) {
				& {
					margin-bottom: rem(20);
				}
			}
			@media (max-width: em(640)) {
				& {
					margin-bottom: rem(30);
				}
			}
		}
	}
	// .services__images
	&__images {
		position: relative;
		flex: 0 0 calc(100% - 54.80315%);
		display: flex;
	}
	&__employee {
		position: relative;
		flex: 0 1 74.390244%;
		padding-top: 99.12892%; /* 569/574 */
		align-self: center;
		img {
			position: absolute;
			height: 100%;
			width: 100%;
			top: 0;
			left: 0;
		}
		@media (max-width: em(1024)) {
			align-self: flex-start;
			top: 8%;
			left: 15%;
		}
	}
	&__phone {
		position: absolute;
		left: 40.592334%; /* 233/574 */
		top: rem(231);
		padding-top: 91.637631%; /* 526/574 */
		width: 56.445993%; /* 324/574 */
		img {
			position: absolute;
			height: 100%;
			width: 100%;
			top: 0;
			left: 0;
		}
		@media (max-width: em(1024)) {
			& {
				left: rem(-30);
			}
		}
	}
}
.body-services {
	// .body-services__header
	&__header {
	}
	// .body-services__items
	&__items {
	}
}
.items-services {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: rem(64);
	// .items-services__item
	&__item {
		& > *:not(:last-child) {
			margin-bottom: rem(22);
		}
	}
	.items-services__icon {
		width: rem(40);
		height: rem(40);
		&:not(:last-child) {
			margin-bottom: rem(14);
		}
		img {
			max-width: 100%;
			max-height: 100%;
		}
		@media (max-width: em(500)) {
			& {
				width: rem(25);
				height: rem(25);
				display: flex;
				img {
					max-width: rem(25);
					max-height: rem(25);
					align-self: center;
				}
				&:not(:last-child) {
					margin-bottom: rem(0);
				}
			}
		}
	}
	// .items-services__title
	&__title {
		display: flex;
		font-weight: 600;
		font-size: rem(22);
		line-height: 1.45;
		color: var(--colorAccent);
		&::before {
			flex: 1 1 auto;
			align-self: center;
			width: auto;
			margin-right: rem(12);
			content: "";
			height: rem(1);
			background-color: var(--colorAccent);
		}
	}
	// .items-services__text
	&__text {
		color: var(--colorAccentA);
		line-height: math.div(32, 20);
	}
}
@media (max-width: em(991.98)) {
	.services__container {
		& > *:not(:last-child) {
			margin-bottom: rem(60);
		}
	}
	.services__images {
		background-color: var(--colorMain);
		margin: rem(0) rem(-15);
		padding: rem(20) rem(0);
	}
	.services__container {
		flex-direction: column;
		&::after {
			display: none;
		}
	}
	.body-services {
		flex-basis: 100%;
		padding-right: 0;
	}
	.items-services {
		gap: rem(36);
	}
	.services__employee {
		left: 5%;
		top: 0;
	}
	.services__phone {
		top: 45%;
		left: 50%;
		padding-top: 70%;
		max-width: 50%;
	}
}
@media (max-width: em(580)) {
	.items-services {
		grid-template-columns: 1fr;
	}
	.items-services__item {
		display: grid;
		gap: rem(10) rem(20);
		grid-template-columns: auto 1fr;
		align-items: center;
		.items-services__text {
			grid-column: span 2;
		}
	}
	.items-services__item > *:not(:last-child) {
		margin-bottom: 0;
	}
	.items-services .items-services__icon:not(:last-child) {
		margin-bottom: 0;
	}
	.items-services__title::before {
		display: none;
	}
	.items-services__icon {
		max-height: rem(32);
		max-width: rem(32);
		img {
			height: 100%;
			width: 100%;
		}
	}
}
@media (max-width: em(600)) {
	.items-services__text {
		font-size: rem(16);
	}
	.items-services__title {
		font-size: rem(18);
	}
	.services__container > *:not(:last-child) {
		margin-bottom: rem(25);
	}
	.items-services {
		gap: rem(15);
	}
	.services__body > *:not(:last-child) {
		margin-bottom: rem(15);
	}
}
// portfolio =======================================================
.portfolio {
	padding-top: rem(146);
	padding-bottom: rem(87.5); /* 175/2 */
	// .portfolio__container
	&__container {
	}
	// .portfolio__header
	&__header {
		&:not(:last-child) {
			margin-bottom: rem(62);
		}
	}
	// .portfolio__items
	&__items {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: rem(23);
	}
	// .portfolio__item
	&__item {
		display: inline-block;
		position: relative;
		padding-top: 135%; /* 405/300 */
		overflow: hidden;
		pointer-events: none;
		img {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			object-fit: cover;
			transition: transform 600ms;
		}
		@media (any-hover: hover) {
			pointer-events: auto;
			&:hover {
				img {
					transform: scale(1.05);
				}
			}
		}
	}
}
// team =======================================================
.team {
	padding-top: rem(87.5); /* 175/2 */
	padding-bottom: rem(148);
	// .team__container
	&__container {
	}
	// .team__header
	&__header {
		&:not(:last-child) {
			margin-bottom: rem(62);
		}
	}
	// .team__items
	&__items {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: rem(23) rem(23);
	}
	// .team__item
	&__item {
	}
}
.item-team {
	position: relative;
	// .item-team__image
	&__image {
		position: relative;
		padding-top: 135%; /* 405/300 */
		img {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
	}
	// .item-team__info
	&__info {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		padding: rem(11) rem(13) rem(12) rem(18);
		background-color: var(----colorMainA);
		color: var(--colorWhite);
	}
}
.info-team {
	display: flex;
	justify-content: space-between;
	gap: rem(15);
	min-height: rem(80);
	flex-wrap: wrap;
	// .info-team__text
	&__text {
		& > *:not(:last-child) {
			margin-bottom: rem(9);
		}
	}
	// .info-team__name
	&__name {
		font-size: rem(16);
		font-weight: 600;
	}
	// .info-team__role
	&__role {
		font-size: rem(14);
	}
	// .info-team__socials
	&__socials {
		align-self: center;
		display: flex;
		column-gap: rem(12);
	}
	// .info-team__link
	&__link {
		max-height: rem(21);
		max-width: rem(24);
		display: inline-block;
	}
}
@media (max-width: em(1024)) {
	.portfolio,
	.team {
		padding-top: rem(50);
		padding-bottom: rem(25);
	}
	.team {
		padding-bottom: rem(50);
	}
	.portfolio__header:not(:last-child),
	.team__header:not(:last-child) {
		margin-bottom: rem(25);
	}
	.portfolio__items,
	.team__items {
		grid-template-columns: repeat(2, 1fr);
	}
}
@media (max-width: em(767.98)) {
	.portfolio {
		padding-top: rem(30);
		padding-bottom: rem(20);
	}
	.team {
		padding-top: rem(20);
		padding-bottom: rem(30);
	}
	.portfolio__header:not(:last-child),
	.team__header:not(:last-child) {
		margin-bottom: rem(15);
	}
	.portfolio__items,
	.team__items {
		gap: rem(15);
	}
	.info-team {
		flex-direction: column;
		row-gap: rem(10);
	}
	.info-team__socials {
		align-self: flex-start;
	}
	.info-team__text > *:not(:last-child) {
		margin-bottom: rem(3);
	}
}
@media (max-width: em(520)) {
	.team__items {
		grid-template-columns: 1fr;
	}
	.portfolio__items {
		gap: rem(10);
	}
}

// contact us =======================================================
.contact-us {
	position: relative;
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 58.680556%; /* 845/1440 */
		height: 100%;
		width: 100vw;
		background-color: var(--colorMain);
		z-index: -1;
	}
	// .contact-us__container
	&__container {
		padding-top: rem(15);
		padding-bottom: rem(100);
		display: flex;
	}
	// .contact-us__body
	&__body {
		flex: 0 1 41.889764%; /* 532/1270 */
		// width 532 px
	}
	// .contact-us__header
	&__header {
		&:not(:last-child) {
			margin-bottom: rem(54);
		}
		.header-block__title {
			min-height: rem(86);
			@media (max-width: em(680)) {
				& {
					min-height: 0;
				}
			}
		}
	}
	// .contact-us__form
	&__form {
	}
	// .contact-us__media
	&__media {
		flex: 1 1 auto;
	}
}
.form-contact {
	// .form-contact__line
	max-width: 83.270677%; /* 443/532 */
	& > *:not(:last-child) {
		margin-bottom: rem(18);
	}
	&__line {
		min-height: rem(90);
		@media (max-width: em(767.98)) {
			& {
				min-height: rem(0);
			}
		}
		padding: rem(5) rem(5) rem(5) rem(19);
		position: relative;
		display: grid;
		grid-template-rows: auto 1fr;
		background-color: var(--colorForForms);
		&_textarea {
		}
	}
	&__label,
	&__input,
	&__textarea {
		color: var(--colorAccentA);
		background-color: var(--colorForForms);
	}
	// .form-contact__label
	&__label {
		display: block;
		&:not(:last-child) {
			margin-bottom: rem(5);
		}
		@media (any-hover: hover) {
			&:hover {
				cursor: pointer;
			}
		}
		@media (max-width: em(767.98)) {
			& {
				font-size: rem(16);
				line-height: 1.5;
			}
		}
	}
	// .form-contact__input
	&__input {
		color: black;
	}
	// .form-contact__textarea
	&__textarea {
		width: 100%;
		resize: vertical;
		min-height: rem(163);
		max-height: rem(263);
		@media (max-width: em(767.98)) {
			& {
				min-height: rem(60);
				max-height: rem(300);
			}
		}
	}
	// .form-contact__s-button
	&__s-button {
	}
}
.media-contact {
	// width 738
	display: flex;
	align-items: center;
	column-gap: rem(35);
	// .media-contact__map
	&__map {
		position: relative;
		flex-basis: 74.932249%; /* 553/738 */
		padding-top: 83.604336%; /* 617/738 */
		iframe {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
	}
	// .media-contact__info
	&__info {
	}
}
.info-media {
	display: flex;
	flex-direction: column;
	row-gap: rem(85);
	padding-left: rem(15);
	padding-right: rem(15);
	// .info-media__item
	&__item {
	}
}
.item-info {
	// .item-info__header
	&__header {
		display: flex;
		column-gap: rem(20);
		align-items: center;
		&:not(:last-child) {
			margin-bottom: rem(12);
		}
	}
	// .item-info__icon
	&__icon {
		max-width: rem(20);
		max-height: rem(20);
		img {
			max-width: 100%;
		}
	}
	// .item-info__title
	&__title {
		font-weight: 600;
	}
	// .item-info__text
	&__text {
		font-size: rem(16);
		line-height: math.div(22, 16);
		& > *:not(:last-child) {
			margin-bottom: rem(8);
		}
	}
}
@media (max-width: em(1024)) {
	.contact-us__header {
		&:not(:last-child) {
			margin-bottom: rem(10);
		}
	}
}
@media (max-width: em(991.98)) {
	.contact-us {
		position: relative;
		&::before {
			display: none;
		}
	}
	.contact-us__container {
		flex-direction: column;
		row-gap: rem(50);
		padding-bottom: 0;
	}
	.form-contact {
		max-width: none;
	}
	.contact-us__media {
		background-color: var(--colorMain);
		margin-right: rem(-15);
		margin-left: rem(-15);
	}
}
@media (max-width: em(767.98)) {
	.contact-us__media {
		padding-top: rem(20);
		flex-direction: column-reverse;
		row-gap: rem(15);
		align-items: flex-start;
	}
	.media-contact__info {
		flex-direction: row;
		width: 100%;
		justify-content: space-around;
		column-gap: rem(10);
		flex-wrap: wrap;
	}
	.media-contact__map {
		width: 100%;
	}
	.form-contact__s-button {
		width: 100%;
	}
}
@media (max-width: em(615)) {
	.media-contact__info {
		flex-direction: column;
		row-gap: rem(20);
	}
	.item-info__header {
		&:not(:last-child) {
			margin-bottom: rem(8);
		}
	}
	.item-info__text {
		& > *:not(:last-child) {
			margin-bottom: rem(5);
		}
	}
}

// footer =======================================================
.footer {
	padding-top: rem(112);
	padding-bottom: rem(82);
	// .footer__container
	@media (max-width: em(991.98)) {
		& {
			padding-top: rem(30);
			padding-bottom: rem(30);
		}
	}
	@media (max-width: em(767.98)) {
		& {
			font-size: rem(16);
			padding-top: rem(20);
			padding-bottom: rem(15);
		}
	}
	&__container {
		position: relative;
		min-height: rem(70);
		display: flex;
		justify-content: center;
		align-items: center;
		@media (max-width: em(767.98)) {
			& {
				justify-content: space-between;
			}
		}
		@media (max-width: em(600)) {
			& {
				min-height: rem(40);
			}
		}
	}
	// .footer__copyright
	&__copyright {
		text-align: center;
		color: var(--colorAccentA);
	}
}
.footer-up {
	position: absolute;
	top: 0;
	right: rem(85);
	height: rem(70);
	width: rem(70);
	background-color: var(--colorMain);
	display: flex;
	justify-content: center;
	align-items: center;
	img {
		max-width: rem(15);
		min-height: rem(15);
	}
	@media (max-width: em(991.98)) {
		& {
			right: rem(15);
		}
	}
	@media (max-width: em(767.98)) {
		& {
			position: static;
		}
	}
	@media (max-width: em(600)) {
		& {
			height: rem(40);
			width: rem(40);
		}
	}
}
